[program:ciserver]
command={{ ci_server_binary }} --conf {{ ci_server_config_file }}
directory=/tmp
user={{ ci_server_user }}
autostart=false
autorestart=false
startsecs=3
startretries=3
stopsignal=TERM
stdout_logfile={{ ci_server_log_dir }}/ci-server.out.log
stderr_logfile={{ ci_server_log_dir }}/ci-server.err.log
